$theme-colors: (
  --primary: #83A4D4,
  --secondary: black,
  --nav-color: white,
  --line-color: white,
  --primary-button: linear-gradient(177.95deg, #B6FBFF 1.73%, #83A4D4 98.28%),
  --secondary-button:white,
);
$nav-font-size:19px;
